body {
    background-color: #18191A;
    overflow-x: hidden;
}

.app__page {
    display:flex;
    /* display: flex; */
   
    align-content: center;
    justify-content: center;
    margin-right: 300px;
   
}

.app__posts {
    display: flex;
    justify-content: center;
    
}