.posts {
    flex: 1;
    min-width: fit-content;
    height: 100%;
   
}

@media screen and (max-width: 1280px) {
    .posts {
        margin-left: 0%;
    }
}

@media screen and (max-width: 600px) {
    .posts {
        margin-left: 60%;
        margin-top: 20px;
       
    }
}


.posts {
    overflow-y: scroll;
}

.posts::-webkit-scrollbar {
    display: none;
}

.posts {
    -ms-overflow-style: none;
    scrollbar-width: none;
}